.btn {
    font-family: inherit;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover,
    &:focus { 
        color: var(--white-txt-cl);
        background-color: var(--accent-cl);
        }
}

